*{
    margin: 0px;
    padding: 0px;
}
.container{
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
}
header{
    margin-top: 20px;
}
#logo{
    width: 100px;
    padding-top: 7px;
    padding-left: 50px;
}
main{
    margin-left: 5%;
    margin-right: 5%;
}
.header-nav-item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-top: 30px;
    background-color: #fcfafafb;
}
.header-nav-item img{
    width: 50px;
}
.nav-item-address,.nav-item-email,.nav-item-phone{
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 10px;
}
.nav-item-address-desc span{
    display: block;
    font-size: 15px;
    padding-bottom: 30px;
}
.nav-item-email-desc span,.nav-item-phone-desc span{
    display: block;
    font-size: 15px;
    margin-top: 16px;
}
.header-nav-menu{
    background-color: rgb(16, 241, 91);
    display: grid;
    grid-template-columns: 1fr 250px;
    height: 40px;
}
.nav-menu ul li{
    display: inline;
    padding-left: 20px;
}
.nav-menu ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-left: 20px;
    line-height: 40px;
}
.nav-menu ul li a:hover{
    color: rgb(235, 23, 23);
}
.nav-appointment{
    width: 200px;
    height: 30px;
    background-color: coral;
    display: block;
    margin-top: 5px;
    border-radius: 10px;
}
.nav-appointment a{
    text-decoration: none;
    margin-top: 20px;
    line-height: 30px;
    padding-left: 10px;
    color: aliceblue;
}
main{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
}
.col-img img{
    width: 380px;
    height: 275px;

}
.content-nav-heading,.content-nav-bottom{
    display: grid;
    grid-template-columns: 380px 380px 380px;
    grid-gap: 70px;
    margin-bottom: 50px;
}
.nav-heading-col{
    background-color: rgb(248, 248, 248);
    height: 555px;
}
.col-item{
    padding: 0px 20px;
    padding-top: 35px;
}
.col-item a{
    text-decoration: none;
    color: black;
}
.col-item h3{
    margin-bottom: 30px;
}
.col-item p{
    margin-bottom: 30px;
}
.read{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(65, 113, 245);
    color: #ffffff;
    line-height: 40px;
    padding-left: 10px;
   margin-left: 120px;
}

footer{
    background-color: rgb(19, 15, 15);
    color: #ffffff;
    height: 790px;
}
.footer-heading{
    padding-top: 85px;
    display: grid;
    grid-template-columns: 307px 307px 307px 307px;
    grid-gap: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 50px;
}
.one-logo,.two-links h2,.three-blog h2{
    padding-bottom: 40px;
}
.one-text,.two-nav-text,.three-blog-item,.four-hours{
    padding-bottom: 20px;
}
.one-text p{
    font-size: 14px;
    color: aliceblue;
}
.one-questions{
    padding-top: 40px;
    display: grid;
    grid-template-columns: 40px 240px;
}
.one-questions img{
    display: block;
    padding-bottom: 45px;
}
.one-questions-text,.one-questions-text a,.one-questions-text span{
    display: block;
    padding-bottom: 20px;
    text-decoration: none;
    color: aliceblue;
    font-size: 14px;
}
#email{
    margin-top: 25px;
}
.one-item a{
    padding-right: 20px;
}
.two-nav-text a{
    text-decoration: none;
    display: block;
    color: aliceblue;
    padding-bottom: 5px;
}
.tow-services{
    margin-bottom: 40px;
}
.two-nav-ser-text a{
    text-decoration: none;
    display: block;
    color: aliceblue;
    padding-bottom: 5px;
}
.blog-item-img img{
    width: 78px;
    height: 80px;
}
.three-blog-item{
    display: grid;
    grid-template-columns: 78px 175px;
    grid-gap: 20px;
}
.blog-item-text a{
    text-decoration: none;
    color: aliceblue;
    font-size: 14px;
}
.four-hours span{
    display: block;
    padding-bottom: 30px;
}
#gmail{
    width: 255px;
    height: 50px;
    padding-left: 10px;
    border: none;
    background-color: rgb(63, 63, 62);
    margin-bottom: 10px;
    color: #ffffff;
    outline: none;
}
#submit{
    width: 265px;
    height: 50px;
    padding-left: 10px;
    border: none;
    background-color: rgb(50, 138, 221);
    color: #ffffff;
    outline: none;
}
.footer-bottom{
    padding-top: 50px;
    text-align: center;
}